   <section class="grid place-items-center">
              <table style="width:80%" class="align: center, border:1px solid black">
                  <tr>
                      <th>Ingredients</th>
                      <th>Menu Item</th>
                      <th>Stock</th>   
                  </tr>
                  <tr>
                      <td>Cheese</td>
                      <td>Pizza</td>
                      <td>{{Cheese}}</td>
                  </tr>
                  <tr>
                      <td>Lctose freeCheese</td>
                      <td>Pizza</td>
                      <td>{{lctosefreecheese}}</td>
                  </tr>
                  <tr>
                      <td>Pepperoni</td>
                      <td>Pizza</td>
                      <td>{{Pepperoni}}</td>
                  </tr>
                  <tr>
                      <td>Bacon</td>
                      <td>Pizza</td>
                      <td>{{bacon}}</td>
                  </tr>
                  <tr>
                      <td>Sausage</td>
                      <td>Pizza</td>
                      <td>{{sausage}}</td>
                  </tr>
                  <tr>
                      <td>Pineapple</td>
                      <td>Pizza</td>
                      <td>{{pinapple}}</td>
                  </tr>
                  <tr>
                      <td>Red Onion</td>
                      <td>Pizza</td>
                      <td>{{redonions}}</td>
                  </tr>
                  <tr>
                      <td>Green Peppe</td>
                      <td>Pizza</td>
                      <td>{{greenpepper}}</td>
                  </tr>  
              </table>
    </section>
          <section>
        <h1 class="display:flex justify-content:center">Add to Stock</h1>
        <form class="w-full max-w-sm addStock">
            <div class="flex items-center border-b border-teal-500 py-2">
              <input id = "ingrediantInput" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Name of Ingrediant" aria-label="Ingrediant name">
            </div>
            <div class="flex items-center border-b border-teal-500 py-2">
                <input id= "stockInput" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Number in Stock" aria-label="Stock number">
                <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
                  Submit
                </button>
  
              </div>
          </form>

    </section>

{{!-- here will go the charts after finalized --}}
    <canvas id="myChart" width="400" height="400"></canvas>

    <script src="../public/javascript/chart.js"></script>